$weather-banana: #f4e04d;
$weather-powder: #f7e1d7 ;
$weather-dust: #dedbd2 ;
$weather-ash: #b0c4b1 ;
$weather-pacific :#61a5c2 ;
$weather-ink: #01161e;
$weather-alice: #edf6f9 ;
$weather-dusk: #274c77 ;
$weather-platinum: #e7ecef ;