@use '../abstracts/variables';
//Card de clima, estructurado con la metodologia BEM
.card { 
  background-color: variables.$weather-alice;
  &__icon {
    font-size: 40px;
    background-color: variables.$weather-pacific;

  &--sun {
    color: variables.$weather-banana;
  }

  &--cloudy {
    color: variables.$weather-dust;

  }

  &--rain {
    color: variables.$weather-platinum;

  }
  }
  }
