@use '../abstracts/mixins';
@use '../abstracts/variables';

.footer {
    width: 100%;
    max-width: 960px;
    margin: auto;
    .navigation {
        @include mixins.flex-layout-center;
        &__item {
    color: variables.$weather-ink;
    }
        }
        
}